/* BEGIN CUSTOM DARK MODE STYLES */

:root {
    --blue: #007bff;
    --red: #dc3545;
    --dark: #161616;
    --medium: #2d2d2d;
    --light: #565656;
    --white: #fff;
}

html, body, .Header {
    background: var(--dark) !important;
    color: var(--white) !important;
}

.card-body {
    background: var(--medium) !important;
    color: var(--white) !important;
    border: 1px solid var(--medium) !important;
}

/* END CUSTOM DARK MODE STYLES */

