<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubleangels.nextdnsmanagement"
    android:versionCode="2">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".settings" android:exported="false" />
        <activity android:name=".troubleshooting" android:exported="false" />
        <activity android:name=".ping" android:exported="false" />
        <activity android:name=".test" android:exported="false" />
        <activity android:name=".help" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
         </activity>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
    </application>
</manifest>