name: Auto-merge Dependabot PRs

on:
    workflow_run:
        workflows: ["Test development build"]
        types:
            - completed

permissions:
    pull-requests: write
    contents: write

jobs:
    automerge:
        # Run only when the test workflow passed successfully
        if: >
            github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.event == 'pull_request'

        runs-on: ubuntu-latest

        steps:
            - name: Auto-merge Dependabot PRs
              uses: fastify/github-action-merge-dependabot@v3
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  merge-method: merge
