name: Test dependabot updates

on:
  push:
    branches: ["dependabot/**"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build debug build with Gradle
        run: ./gradlew assembleDebug

      - name: Build release build with Gradle
        run: ./gradlew assembleDebug
